/* .profiles .actions {
  @apply flex flex-row gap-x-2;
} */

.profiles table {
  @apply border-collapse md:w-[70vw] sm:w-[80vw];
}

.profiles .input button {
  @apply bg-customyellow hover:bg-yellow-400 active:outline active:outline-yellow-500  px-2 w-20 rounded-sm;
}

.profiles .Table {
  @apply mt-5;
}

.profiles .Table th {
  @apply text-nowrap  text-left font-normal ps-4 text-blue-300  bg-adminprofileblue;
}
.profiles .Table td {
  @apply text-nowrap  text-left p-1 ps-4  font-normal  text-black bg-adminprofileblue1;
}

.profiles table tr {
  border: 1px solid #449969;
}

/* .profiles .actions button {
  @apply bg-adminprofileblue1  px-3 mt-5 w-20 rounded-sm;
} */
.profiles > .input {
  @apply flex flex-row gap-x-1;
}
.profiles select {
  @apply w-24 rounded-sm;
}

@media (max-width: 550px) {
  .profiles .Table {
    @apply mt-5;
  }
  .profiles .Table th {
    @apply text-nowrap font-normal text-[9px] ps-2;
  }

  .profiles table {
    @apply border-collapse w-[95vw]  mx-2;
  }

  .table-container {
    width: 100%;
    overflow-x: auto;
  }

  .profiles .scroll-table {
    border-collapse: collapse;
    width: max-content;
  }

  .profiles .scroll-table th,
  .profiles .scroll-table td {
    padding: 4px;
  }

  .profiles select {
    @apply w-24 text-center rounded-sm;
  }

  .profiles .input button {
    @apply bg-adminyellow px-2 w-20;
  }

  .profiles .Table td {
    @apply text-nowrap ps-2 font-normal  text-[9px];
  }
}
